.set{
    width: 30%;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 10px 10px;
    margin: 10px 10px; 
text-align: center;
display: inline-block;
}
.but .dd{
   
    background-color: red;
border-radius: 10%;
padding: 10px 10px;

}
.but .ee{
    background-color: blue;
    border-radius: 10%;
padding: 10px 10px;
}
.clear-fix{
    clear: both;
}